/* By + Copyright 2025 Greg Abbott. V 2025_0427 */
/* Decoration, spacing: NOT: layout or function */
:root{
  --light: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 0%);
  --accent: #8e70f7;
  --brd: 1px solid var(--fg);
  }
* {
  font-family: "CommitMono", monospace;
  gap:1ch;
  outline: none;
  background-color: transparent;
  color: var(--fg);
}
[popover],
[dialog] {
  border-radius: 5px;
  padding: 1ch;
  background: var(--bg);
}
body {
  font-size: 14px;
  padding: 1ch;
}
::-webkit-scrollbar{  
  width: 1ch;
  height: 1ch;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: var(--bg);
  border: var(--brd);
  border-radius: 100px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;
}
button{
  cursor: pointer;
}
input[type='text']:focus{
  box-shadow: inset 0 0 0 1px var(--fg);
}
input {
  border: var(--brd); 
}
g-db {
  tr {
    border: 1px solid transparent;
  }
  tr, td {
    padding: 0;
    margin: 0;
    line-height: 100%;
    
  }
  td input[type="checkbox"]{
    padding: 0;
    margin: 0;
    height: 10px;
    vertical-align: middle;
    }
  /*
  td:has(input[type="checkbox"]):before{
    content: ' ';
  }
  td:has(input[type="checkbox"]:checked):before{
    content: '>';
  }
  */
}
hr {
  height: 1px;
  background-color: var(--fg);
  border: none;
}
g-search {
  position: relative;
  input{
    width: 100%;
    height: 4ch;
    padding: 1ch;
  
  }
  button {
    position: absolute;
    right: 1ch;
    height: 1.5lh;
    background-color: var(--bg);
    display: none;
  }
  &:focus-within > button,
  input:not(:placeholder-shown) + button {
    display: block;
  }
}
#main_menu_po{
  padding: 0;
  footer{
    border-top: var(--brd);
    padding: 1ch;
  }
  g-search {
    margin: 1ch;
  }
  #menu_items {
    margin: 1ch 0ch 1ch 0;
    padding: 0ch 1ch 0ch 1ch;
    max-height: 50dvh;
    overflow-y: auto;
    
    &::-webkit-scrollbar{  
      width: 2ch;

      height: 1ch;
      cursor: pointer;
      
    }
    &::-webkit-scrollbar-thumb {
      background: var(--bg);
      border-radius: 0;
      box-shadow: inset 0 0 0 1px var(--fg);
      border: none;
      border-right: 1ch solid var(--bg);
      
      
    }
    gap: 0;
    div {
      display: flex;
      align-items: center;
      padding: 5px;
      border:1px solid transparent;
      &:hover {
        border: 1px dashed var(--fg);
      }
      input {/*selection state radio*/
        display: none;
        padding: 0;
        margin: 0;
      }
      &:has(input:checked){
        border: var(--brd);
      }
      button {
        cursor: default;
        padding: 0;
        height: auto;
        border: none;
        &:hover,&:focus {
          box-shadow:none;
        outline-color: transparent; 
        }
        &:active{
          background-color: var(--bg);
          color: var(--fg);
        }
      }
    }
  }
}
g-db tr:has(td input:checked){
  border-color: var(--fg);
}
button {
  background-color: transparent;
  border: var(--brd);
  height:3ch;
  border-radius: 100px;
  padding: 0 1ch;
  line-height: 100%;
 &:active {
  background-color: var(--fg);
  color: var(--bg);
 } 
 &:focus,&:hover {
  box-shadow: inset 0 0 0 1px var(--fg);
 }
}
:disabled,
:hover:disabled,
:active:disabled {
  background-color: transparent;
  box-shadow: none;
  cursor: not-allowed;
  color: var(--fg);
  border-style: dashed;
}
#file_load_stored{
  background-color: var(--fg);
  color: var(--bg);
}
#a_few_buttons button{
width: 100%;
border: none;
}
aside footer {
  display: flex;
  align-items: end;
  position: relative;
 opacity: 10%;
} 
aside footer{
  &:hover,&:focus,&:focus-within,&:active{
  opacity: 100%;   
  }
}
.credit, .credit *{
  
  font-size: 9px;
}
.credit {
  text-align: center;
  width: 100%;
  button{
    all:unset;
    padding: 1px 1ch;
    border-radius: 3px;
  }
}
.aside_main, g-db tbody {
  padding-right: 1ch;
}
#editor_po{
  input {margin-bottom: 1ch;}
}